.base{
    display: flex;
    justify-content: center;
    padding: 20px;
    &.left {
        border: 2px solid blue;
        margin-bottom: 20px;
    }
    &.right {
        border: 2px solid green;
    }
}

img {
    max-width: 190px;
    min-height: 266px;
}

@media only screen and (max-width: 768px) {
    .base {
        flex-direction: column;
    }
}
